<%= simple_form_for(@bili) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :page %>
    <%= f.input :user %>
    <%= f.input :content %>
    <%= f.input :x %>
    <%= f.input :y %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
